# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=change-me
DB_NAME=sms

# SMTP / Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH=true
SMTP_SECURE=tls
SMTP_USER=incredibleingridius@gmail.com
SMTP_PASS=ysnr ludd befg hvst
SMTP_FROM_NAME=SMS Portal
